@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --primary-color: #6E6CDF;
  --white-color: #ffffff;
   --black-color: #212121;
   --red-color: #e50914;
   --red-hover-color: #c5050e; 
}

* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   transition: .5s;
   overflow-wrap: break-word;
   font-family: "Roboto", sans-serif;
}

html,
body {
   overflow-x: hidden;
   width: 100dvw;
   height: 100dvh;
   color: var(--black-color);
   scroll-behavior: smooth;
   background-color: #000;
}

.home {
   height: 90dvh;
   width: 100dvw;
   background-image: url(Assets/Images/bg.jpg);
   background-position: center center;
   object-fit: cover;
   background-repeat: no-repeat;
}

.home .box {
   height: 90dvh;
   width: 100dvw;
   background-color: #000;
   opacity: .75;
   position: absolute;
   top: 0;
   z-index: 0;
}

.home .nav {
   top: 0;
   z-index: 10;
   position: relative;
   width: 65dvw;
   margin: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 2dvh 1dvw;
}

.home .nav>img {
   width: 8dvw;
   height: auto;
}

.home .nav .CTA {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .5dvw;
   overflow: hidden;
}

.nav .CTA .language {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   padding: .8dvh .7dvw;
   border: 1px solid #ffffff4f;
   background: transparent;
   cursor: pointer;
   gap: .3dvw;
   color: var(--white-color);
   border-radius: 5px;

   &:hover {
      border: 2px solid #ffffffaa;
   }
}

.nav .CTA .language select {
   all: unset;
   font-weight: 500;
}

.nav .CTA .language option {
   background-color: var(--white-color);
   color: var(--black-color);
}

.nav .CTA a {
   all: unset;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: .8dvh .7dvw;
   background-color: var(--red-color);
   border: none;
   cursor: pointer;
   color: var(--white-color);
   border-radius: 5px;
   font-weight: 600;

   &:hover {
      background-color: var(--red-hover-color);
   }
}

.home .content {
   z-index: 10;
   position: relative;
   width: 85dvw;
   height: 90%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   color: var(--white-color);
   margin: auto;
   gap: 3dvh;
}

.home .content>span:nth-child(1) {
   width: 45%;
   font-size: 56px;
   font-weight: 900;
   text-align: center;
   line-height: 1.2;
   overflow: hidden;
}

.home .content>span:nth-child(2) {
   width: 45%;
   font-size: 20px;
   font-weight: 500;
   text-align: center;
   line-height: 1.2;
   overflow: hidden;
}

.home .content>span:nth-child(3) {
   width: 45%;
   font-size: 16px;
   font-weight: 500;
   text-align: center;
   line-height: 1.2;
   overflow: hidden;
}

.inputs {
   color: var(--white-color);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: .5dvw;
}

.inputs input {
   color: var(--white-color);
   text-align: start;
   border: 1px solid rgb(89, 89, 89);
   backdrop-filter: blur(90px);
   background: none;
   font-size: 16px;
   outline: none;
   border-radius: 4px;
   padding: 2dvh 10dvw 2dvh 1dvw;

   &::placeholder {
      color: rgb(203, 203, 203);
      opacity: 1;
      font-weight: 400;
   }
}

.inputs>button {
   color: var(--white-color);
   background: var(--red-color);
   font-size: 24px;
   font-weight: 600;
   border: none;
   padding: 1dvh 1.2dvw;
   border-radius: 4px;

   &:hover {
      background-color: var(--red-hover-color);
   }
}

.Red-Line {
   height: 5px;
   width: 100dvw;
   background: linear-gradient(to right, #e509143f, var(--red-color), var(--red-color), #e509143f);
   border: none;
   border-radius: 50%;
   position: relative;
}

.MovieSection {
   width: 80dvw;
   height: fit-content;
   position: relative;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   color: var(--white-color);
   margin: auto;
   gap: 4dvh;
   padding-top: 6dvh;
}

.MovieSection .glow {
   width: 40dvw;
   height: 100px;
   position: absolute;
   top: -9dvh;
   background-color: #4d5ea8;
   filter: blur(80px);
   border-radius: 10px;
   border-radius: 20%;
   left: 50%;
   transform: translateX(-50%);
}

.MovieSection .Heading {
   font-size: 30px;
   font-weight: 700;
}

.MovieSection .Movies {
   width: 80dvw;
   display: flex;
   flex-direction: row;
   gap: 2dvw;
   align-items: center;
   justify-content: space-between;
   overflow: auto hidden;
   padding-bottom: 4dvh;
   border-radius: 4px;
}

.MovieSection .Movies::-webkit-scrollbar {
   height: 6px;
}

.MovieSection .Movies::-webkit-scrollbar-track {
   background: var(--black-color);
}

.MovieSection .Movies::-webkit-scrollbar-thumb {
   background: var(--red-color);
   border-radius: 6px;
}

.MovieSection .Movies::-webkit-scrollbar-thumb:hover {
   background: var(--red-hover-color);
}

.MovieSection .Movies .Images {
   display: flex;
   align-items: end;
   height: fit-content;
}

.MovieSection .Movies .Images img {
   border-radius: 8px;
   background-position: center center;
   object-fit: cover;
   background-repeat: no-repeat;
}

.MovieSection .Movies .Images span {
   z-index: 1;
   display: flex;
   font-size: 100px;
   font-weight: 700;
   -webkit-text-stroke: 1px;
   color: black;
   -webkit-text-stroke-color: var(--white-color);
   height: fit-content;
   margin-right: -35px;
   margin-bottom: -10px;
}

.ReasonSection {
   width: 80dvw;
   height: fit-content;
   position: relative;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   margin: auto;
   padding-top: 4dvh;
   gap: 4dvh;
   color: var(--white-color);
   padding-bottom: 4dvh;
}

.ReasonSection>.Heading {
   font-size: 30px;
   font-weight: 700;
}

.ReasonSection .Reasons {
   width: 100%;
   height: 40dvh;
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   overflow: hidden;
   margin: auto;
   gap: 1dvw;
   color: var(--white-color);
}

.ReasonSection .Reasons .textBox {
   display: flex;
   flex-direction: column;
   height: 30dvh;
   width: 18dvw;
   background: linear-gradient(to bottom, #1a2145, #220e17);
   border-radius: 10px;
   padding: 2.5dvh 1.2dvw;
   margin: 1dvh;
   justify-content: space-between;
   gap: 2dvh;
   align-items: end;
}

.ReasonSection .Reasons .textBox .Text {
   display: flex;
   flex-direction: column;
   gap: 1dvh;
}

.ReasonSection .Reasons .textBox .Text .heading {
   font-size: 18px;
   font-weight: 800;
}

.ReasonSection .Reasons .textBox .Text .subText {
   font-size: 14px;
   opacity: 0.6;
}

.ReasonSection .Reasons .textBox img {
   width: 30%;
   right: 0;
}

.FQAs {
   width: 80dvw;
   height: fit-content;
   position: relative;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   color: var(--white-color);
   margin: auto;
   gap: 4dvh;
   padding-top: 6dvh;
}

.FQAs .Heading {
   font-size: 30px;
   font-weight: 700;
}

.FQAs .Question {
   display: flex;
   flex-direction: column;
   gap: 1dvh;
}

.FQAs .Question .Questions {
   width: 90%;
   display: flex;
   justify-content: space-between;
   font-size: 24px;
   font-weight: 500;
   padding: 3dvh 2dvw;
   background-color: #2d2d2d;

   &:hover {
      background-color: #545454;
   }
}

.subEmail {
   width: 80dvw;
   height: fit-content;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   color: var(--white-color);
   margin: auto;
   gap: 2dvh;
   padding-top: 6dvh;
   padding-bottom: 4dvh;
}

.subEmail span {
   font-size: 16;
   font-weight: 500;
   text-align: start;
}

.Footer {
   position: relative;
   width: 80dvw;
   color: #d7d6d6;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 2vh;
   margin: auto;
   padding-top: 4dvh;
}

.Footer .PageLink {
   padding-top: 2dvh;
   width: 100%;
   color: #d7d6d6;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   text-decoration: underline;
   margin: auto;
   justify-content: space-between;
}

.Footer .PageLink .links {
   display: flex;
   flex-direction: column;
   gap: 2dvh;
   font-size: 14px;
}

.Footer .language {
   width: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   padding: .8dvh .7dvw;
   border: 1px solid #ffffff4f;
   background: transparent;
   cursor: pointer;
   gap: .3dvw;
   color: #d7d6d6;
   border-radius: 5px;

   &:hover {
      border: 2px solid #ffffffaa;
   }
}

.Footer .language select {
   all: unset;
   font-weight: 500;
}

.Footer.language option {
   background-color: #d7d6d6;
   color: var(--black-color);
}

.Footer .F-logo {
   padding-top: 2dvh;
   padding-bottom: 10dvh;
}

@media only screen and (max-width: 480px) {
   .home {
      height: 65dvh;
      width: 100dvw;
   }

   .home .box {
      height: 65dvh;
      width: 100dvw;
   }

   .home .nav {
      width: 90dvw;
   }

   .home .nav>img {
      width: 22dvw;
   }

   .home .nav .CTA {
      gap: 3dvw;
   }

   .nav .CTA .language {
      padding: .8dvh 3dvw;
      gap: .5dvw;
   }

   .nav .CTA .language select {
      all: unset;
      display: none;
   }

   .nav .CTA a {
      padding: .8dvh 4dvw;
      border-radius: 5px;
      font-weight: 500;
   }

   .home .content {
      width: 90dvw;
      color: var(--white-color);
      gap: 2dvh;
   }

   .home .content>span:nth-child(1) {
      width: 90%;
      font-size: 30px;
      font-weight: 700;
   }

   .home .content>span:nth-child(2) {
      width: 90%;
      font-size: 16px;
   }

   .home .content>span:nth-child(3) {
      width: 90%;
      font-size: 16px;
   }

   .inputs {
      width: 90%;
      gap: 3dvw;
      justify-content: center;
      align-items: center;
   }

   .inputs input {
      flex-grow: 1;
      font-size: 16px;
      padding: 1.5dvh 0dvw 1.5dvh 5dvw;

      &::placeholder {
         font-weight: 500;
      }
   }

   .inputs>button {
      font-size: 18px;
      font-weight: 500;
      padding: 1.5dvh 6dvw;
   }

   .Red-Line {
      height: 4px;
      border-radius: 10%;
   }

   .MovieSection {
      width: 90dvw;
      height: fit-content;
      gap: 2dvh;
      padding-top: 4dvh;
   }

   .MovieSection .glow {
      width: 60dvw;
      height: 80px;
      top: -6dvh;
   }

   .MovieSection .Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .MovieSection .Movies {
      width: 90dvw;
      gap: 4dvw;
      padding-bottom: 4dvh;
   }

   .MovieSection .Movies::-webkit-scrollbar {
      display: none;
   }

   .MovieSection .Movies .Images img {
      height: 156px;
      width: 112px;
   }

   .MovieSection .Movies .Images span {
      font-size: 70px;
      font-weight: 800;
   }

   .ReasonSection {
      width: 90dvw;
      height: fit-content;
      display: flex;
      padding-top: 2dvh;
      padding-bottom: 4dvh;
   }

   .ReasonSection>.Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .ReasonSection .Reasons {
      width: 100%;
      height: fit-content;
      gap: 1dvw;
   }

   .ReasonSection .Reasons .textBox {
      height: fit-content;
      width: fit-content;
      flex-grow: 1;
      padding: 3dvh 5dvw;
   }

   .ReasonSection .Reasons .textBox .Text {
      gap: 1.5dvh;
   }

   .ReasonSection .Reasons .textBox .Text .heading {
      font-size: 20px;
      font-weight: 700;
   }

   .ReasonSection .Reasons .textBox .Text .subText {
      font-size: 14px;
      opacity: 0.6;
   }

   .ReasonSection .Reasons .textBox img {
      width: 20%;
      right: 0;
   }

   .FQAs {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 4dvh;
      padding-bottom: 2dvh;
   }

   .FQAs .Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .FQAs .Question .Questions {
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      padding: 3dvh 6dvw;
   }

   .subEmail {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 6dvh;
      padding-bottom: 4dvh;
   }

   .subEmail span {
      font-size: 16;
      font-weight: 500;
   }

   .Footer {
      width: 90dvw;
      gap: 2vh;
      padding-top: 4dvh;
   }

   .Footer .PageLink {
      padding-top: 2vh;
      width: 90vw;
      gap: 2vh;
      flex-direction: column;
   }

   .Footer .language {
      padding: .8dvh 2dvw;
      gap: 1dvw;
   }

   .Footer .F-logo {
      padding-top: 2dvh;
      padding-bottom: 10dvh;
   }
}

@media (min-width: 481px) and (max-width: 600px) {

   .home {
      height: 65dvh;
      width: 100dvw;
   }

   .home .box {
      height: 65dvh;
      width: 100dvw;
   }

   .home .nav {
      width: 90dvw;
   }

   .home .nav>img {
      width: 16dvw;
   }

   .home .nav .CTA {
      gap: 2dvw;
   }

   .nav .CTA .language {
      padding: .8dvh 2dvw;
      gap: .5dvw;
   }

   .nav .CTA .language select {
      all: unset;
      display: none;
   }

   .nav .CTA a {
      padding: .8dvh 3dvw;
      border-radius: 5px;
      font-weight: 500;
   }

   .home .content {
      width: 90dvw;
      color: var(--white-color);
      gap: 1.5dvh;
   }

   .home .content>span:nth-child(1) {
      width: 90%;
      font-size: 32px;
      font-weight: 800;
   }

   .home .content>span:nth-child(2) {
      width: 90%;
      font-size: 16px;
   }

   .home .content>span:nth-child(3) {
      width: 90%;
      font-size: 16px;
   }

   .inputs {
      width: 90%;
      gap: 3dvw;
      justify-content: center;
      align-items: center;
   }

   .inputs input {
      width: 100%;
      flex-grow: 1;
      font-size: 16px;
      padding: 1.5dvh 0dvw 1.5dvh 5dvw;

      &::placeholder {
         font-weight: 500;
      }
   }

   .inputs>button {
      font-size: 18px;
      font-weight: 600;
      padding: 1.5dvh 4dvw;
   }

   .Red-Line {
      height: 4px;
      border-radius: 10%;
   }

   .MovieSection {
      width: 90dvw;
      height: fit-content;
      gap: 2dvh;
      padding-top: 4dvh;
   }

   .MovieSection .glow {
      width: 60dvw;
      height: 80px;
      top: -6dvh;
   }

   .MovieSection .Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .MovieSection .Movies {
      width: 90dvw;
      gap: 4dvw;
      padding-bottom: 4dvh;
   }

   .MovieSection .Movies::-webkit-scrollbar {
      display: none;
   }

   .MovieSection .Movies .Images img {
      height: 156px;
      width: 112px;
   }

   .MovieSection .Movies .Images span {
      font-size: 70px;
      font-weight: 800;
      margin-right: -25px;
      margin-bottom: -10px;
   }

   .ReasonSection {
      width: 90dvw;
      height: fit-content;
      display: flex;
      padding-top: 2dvh;
      gap: 2dvh;
      padding-bottom: 4dvh;
   }

   .ReasonSection>.Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .ReasonSection .Reasons {
      width: 100%;
      height: fit-content;
      gap: 1dvw;
   }

   .ReasonSection .Reasons .textBox {
      height: fit-content;
      width: fit-content;
      flex-grow: 1;
      padding: 3dvh 5dvw;
   }

   .ReasonSection .Reasons .textBox .Text {
      gap: 1.5dvh;
   }

   .ReasonSection .Reasons .textBox .Text .heading {
      font-size: 20px;
      font-weight: 700;
   }

   .ReasonSection .Reasons .textBox .Text .subText {
      font-size: 16px;
      opacity: 0.6;
   }

   .ReasonSection .Reasons .textBox img {
      width: 20%;
      right: 0;
   }

   .FQAs {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 4dvh;
   }

   .FQAs .Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .FQAs .Question .Questions {
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      padding: 2.5dvh 4dvw;
   }

   .subEmail {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 6dvh;
      padding-bottom: 4dvh;
   }

   .subEmail span {
      font-size: 16;
      font-weight: 500;
   }

   .Footer {
      width: 90dvw;
      gap: 2vh;
      padding-top: 4dvh;
   }

   .Footer .PageLink {
      padding-top: 2vh;
      width: 90vw;
      gap: 2vh;
   }

   .Footer .language {
      padding: .8dvh 2dvw;
      gap: 1dvw;
   }

   .Footer .F-logo {
      padding-top: 2dvh;
      padding-bottom: 10dvh;
   }
}

@media (min-width: 601px) and (max-width: 768px) {
   .home {
      height: 65dvh;
      width: 100dvw;
   }

   .home .box {
      height: 65dvh;
      width: 100dvw;
   }

   .home .nav {
      width: 90dvw;
   }

   .home .nav>img {
      width: 12dvw;
   }

   .home .nav .CTA {
      gap: 1.5dvw;
   }

   .nav .CTA .language {
      padding: .8dvh 1.5dvw;
      gap: 1dvw;
   }

   .nav .CTA .language select {
      all: unset;
   }

   .nav .CTA a {
      padding: .8dvh 2dvw;
      border-radius: 5px;
      font-weight: 500;
   }

   .home .content {
      width: 90dvw;
      color: var(--white-color);
      gap: 1.5dvh;
   }

   .home .content>span:nth-child(1) {
      width: 90%;
      font-size: 32px;
      font-weight: 800;
   }

   .home .content>span:nth-child(2) {
      width: 90%;
      font-size: 16px;
   }

   .home .content>span:nth-child(3) {
      width: 90%;
      font-size: 16px;
   }

   .inputs {
      width: 90%;
      gap: 3dvw;
      justify-content: center;
      align-items: center;
   }

   .inputs input {
      width: 100%;
      flex-grow: 1;
      font-size: 16px;
      padding: 1.5dvh 0dvw 1.5dvh 2dvw;
   }

   .inputs>button {
      font-size: 18px;
      font-weight: 600;
      padding: 1.5dvh 4dvw;
   }

   .Red-Line {
      height: 4px;
      border-radius: 10%;
   }

   .MovieSection {
      width: 90dvw;
      height: fit-content;
      gap: 2dvh;
      padding-top: 4dvh;
   }

   .MovieSection .glow {
      width: 60dvw;
      height: 80px;
      top: -6dvh;
   }

   .MovieSection .Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .MovieSection .Movies {
      width: 90dvw;
      gap: 2dvw;
      padding-bottom: 4dvh;
   }

   .MovieSection .Movies .Images img {
      height: 156px;
      width: 112px;
   }

   .MovieSection .Movies .Images span {
      font-size: 70px;
      font-weight: 800;
      margin-right: -25px;
      margin-bottom: -10px;
   }

   .ReasonSection {
      width: 90dvw;
      height: fit-content;
      display: flex;
      padding-top: 4dvh;
      gap: 2dvh;
      padding-bottom: 4dvh;
   }

   .ReasonSection>.Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .ReasonSection .Reasons {
      width: 100%;
      height: fit-content;
      gap: 1dvw;
   }

   .ReasonSection .Reasons .textBox {
      height: fit-content;
      width: fit-content;
      flex-grow: 1;
      padding: 3dvh 5dvw;
   }

   .ReasonSection .Reasons .textBox .Text {
      width: 100%;
      gap: 1.5dvh;
   }

   .ReasonSection .Reasons .textBox .Text .heading {
      font-size: 20px;
      font-weight: 700;
   }

   .ReasonSection .Reasons .textBox .Text .subText {
      font-size: 16px;
      opacity: 0.6;
   }

   .ReasonSection .Reasons .textBox img {
      width: 15%;
      right: 0;
   }

   .FQAs {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 4dvh;
   }

   .FQAs .Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .FQAs .Question .Questions {
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      padding: 2.5dvh 4dvw;
   }

   .subEmail {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 6dvh;
      padding-bottom: 4dvh;
   }

   .subEmail span {
      font-size: 16;
      font-weight: 500;
   }

   .subEmail .inputs {
      gap: 1dvw;
   }

   .subEmail .inputs input {
      width: 65%;
      flex-grow: 0;
   }
}

@media (min-width: 769px) and (max-width: 992px) {

   .home {
      height: 65dvh;
      width: 100dvw;
   }

   .home .box {
      height: 65dvh;
      width: 100dvw;
   }

   .home .nav {
      width: 90dvw;
   }

   .home .nav>img {
      width: 10dvw;
   }

   .home .nav .CTA {
      gap: 1.5dvw;
   }

   .nav .CTA .language {
      padding: .8dvh 1.5dvw;
      gap: .8dvw;
   }

   .nav .CTA .language select {
      all: unset;
   }

   .nav .CTA a {
      padding: .8dvh 1.5dvw;
      border-radius: 5px;
      font-weight: 500;
   }

   .home .content {
      width: 60dvw;
      color: var(--white-color);
      gap: 1.5dvh;
   }

   .home .content>span:nth-child(1) {
      width: 90%;
      font-size: 32px;
      font-weight: 800;
   }

   .home .content>span:nth-child(2) {
      width: 90%;
      font-size: 16px;
   }

   .home .content>span:nth-child(3) {
      width: 90%;
      font-size: 16px;
   }

   .inputs {
      width: 90%;
      gap: 1dvw;
      justify-content: center;
      align-items: center;
   }

   .inputs input {
      flex-grow: 1;
      font-size: 16px;
      padding: 1.5dvh 0dvw 1.5dvh 2dvw;
   }

   .inputs>button {
      font-size: 18px;
      font-weight: 600;
      padding: 1.5dvh 4dvw;
   }

   .Red-Line {
      height: 4px;
      border-radius: 10%;
   }

   .MovieSection {
      width: 90dvw;
      height: fit-content;
      gap: 2dvh;
      padding-top: 4dvh;
   }

   .MovieSection .glow {
      width: 60dvw;
      height: 80px;
      top: -6dvh;
   }

   .MovieSection .Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .MovieSection .Movies {
      width: 90dvw;
      gap: 2dvw;
      padding-bottom: 4dvh;
   }

   .MovieSection .Movies .Images img {
      height: 156px;
      width: 112px;
   }

   .MovieSection .Movies .Images span {
      font-size: 70px;
      font-weight: 800;
      margin-right: -25px;
      margin-bottom: -10px;
   }

   .ReasonSection {
      width: 90dvw;
      height: fit-content;
      display: flex;
      padding-top: 4dvh;
      gap: 2dvh;
      padding-bottom: 4dvh;
   }

   .ReasonSection>.Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .ReasonSection .Reasons {
      width: 100%;
      height: fit-content;
      gap: 1dvw;
   }

   .ReasonSection .Reasons .textBox {
      height: fit-content;
      width: fit-content;
      flex-grow: 1;
      padding: 3dvh 3dvw;
   }

   .ReasonSection .Reasons .textBox .Text {
      width: 100%;
      gap: 1.5dvh;
   }

   .ReasonSection .Reasons .textBox .Text .heading {
      font-size: 20px;
      font-weight: 700;
   }

   .ReasonSection .Reasons .textBox .Text .subText {
      font-size: 16px;
      opacity: 0.6;
   }

   .ReasonSection .Reasons .textBox img {
      width: 10%;
      right: 0;
   }

   .FQAs {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 4dvh;
   }

   .FQAs .Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .FQAs .Question .Questions {
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      padding: 2.5dvh 3dvw;
   }

   .subEmail {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 6dvh;
      padding-bottom: 4dvh;
   }

   .subEmail span {
      font-size: 16;
      font-weight: 500;
   }

   .subEmail .inputs {
      gap: 1dvw;
   }

   .subEmail .inputs input {
      width: 65%;
      flex-grow: 0;
   }
}

@media (min-width: 993px) and (max-width: 1200px) {
   .home {
      height: 65dvh;
      width: 100dvw;
   }

   .home .box {
      height: 65dvh;
      width: 100dvw;
   }

   .home .nav {
      width: 90dvw;
   }

   .home .nav>img {
      width: 13dvw;
   }

   .home .nav .CTA {
      gap: 1dvw;
   }

   .nav .CTA .language {
      padding: .8dvh 1dvw;
      gap: .8dvw;
   }

   .nav .CTA .language select {
      all: unset;
   }

   .nav .CTA a {
      padding: .8dvh 1.2dvw;
      border-radius: 5px;
      font-weight: 500;
   }

   .home .content {
      width: 60dvw;
      color: var(--white-color);
      gap: 2dvh;
   }

   .home .content>span:nth-child(1) {
      width: 60%;
      font-size: 40px;
      font-weight: 800;
   }

   .home .content>span:nth-child(2) {
      width: 90%;
      font-size: 16px;
   }

   .home .content>span:nth-child(3) {
      width: 70%;
      font-size: 16px;
   }

   .inputs {
      width: 70%;
      gap: 1dvw;
      justify-content: center;
      align-items: center;
   }

   .inputs input {
      flex-grow: 1;
      font-size: 16px;
      padding: 2dvh 0dvw 2dvh 2dvw;
   }

   .inputs>button {
      font-size: 18px;
      font-weight: 600;
      padding: 2vh 2.5dvw;
   }

   .Red-Line {
      height: 5px;
      border-radius: 20%;
   }

   .MovieSection {
      width: 90dvw;
      height: fit-content;
      gap: 4dvh;
      padding-top: 6dvh;
   }

   .MovieSection .glow {
      width: 60dvw;
      height: 80px;
      top: -6dvh;
   }

   .MovieSection .Heading {
      font-size: 24px;
      font-weight: 700;
   }

   .MovieSection .Movies {
      width: 90dvw;
      gap: 2dvw;
      padding-bottom: 4dvh;
   }

   .MovieSection .Movies .Images img {
      height: 196px;
      width: 140px;
   }

   .MovieSection .Movies .Images span {
      font-size: 70px;
      font-weight: 800;
      margin-right: -25px;
      margin-bottom: -10px;
   }

   .ReasonSection {
      width: 90dvw;
      height: fit-content;
      display: flex;
      padding-top: 4dvh;
      gap: 2dvh;
      padding-bottom: 4dvh;
   }

   .ReasonSection>.Heading {
      font-size: 18px;
      font-weight: 700;
   }

   .ReasonSection .Reasons {
      width: 100%;
      height: fit-content;
      gap: .5dvw;
   }

   .ReasonSection .Reasons .textBox {
      height: fit-content;
      width: 47%;
      flex-grow: 1;
      padding: 3dvh 3dvw;
   }

   .ReasonSection .Reasons .textBox .Text {
      width: 100%;
      gap: 1.5dvh;
   }

   .ReasonSection .Reasons .textBox .Text .heading {
      font-size: 20px;
      font-weight: 700;
   }

   .ReasonSection .Reasons .textBox .Text .subText {
      font-size: 16px;
      opacity: 0.6;
   }

   .ReasonSection .Reasons .textBox img {
      width: 20%;
      right: 0;
   }

   .FQAs {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 4dvh;
   }

   .FQAs .Heading {
      font-size: 24px;
      font-weight: 700;
   }

   .FQAs .Question .Questions {
      width: 100%;
      font-size: 24px;
      font-weight: 500;
      padding: 3dvh 3dvw;
   }

   .subEmail {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 6dvh;
      padding-bottom: 4dvh;
   }

   .subEmail span {
      font-size: 16;
      font-weight: 500;
   }

   .subEmail .inputs {
      gap: 1dvw;
   }

   .subEmail .inputs input {
      width: 65%;
      flex-grow: 0;
   }

}

@media (min-width: 1201px) and (max-width: 1600px) {
   .home {
      height: 75dvh;
      width: 100dvw;
   }

   .home .box {
      height: 75dvh;
      width: 100dvw;
   }

   .home .nav {
      width: 80dvw;
   }

   .home .nav>img {
      width: 10dvw;
   }

   .home .nav .CTA {
      gap: .8dvw;
   }

   .nav .CTA .language {
      padding: .6dvh .7dvw;
      gap: .5dvw;
   }

   .nav .CTA .language select {
      all: unset;
   }

   .nav .CTA a {
      padding: .6dvh 1dvw;
      border-radius: 5px;
      font-weight: 500;
   }

   .home .content {
      width: 60dvw;
      color: var(--white-color);
      gap: 2dvh;
   }

   .home .content>span:nth-child(1) {
      width: 60%;
      font-size: 56px;
      font-weight: 800;
   }

   .home .content>span:nth-child(2) {
      width: 90%;
      font-size: 20px;
   }

   .home .content>span:nth-child(3) {
      width: 70%;
      font-size: 16px;
   }

   .inputs {
      width: 60%;
      gap: 1dvw;
      justify-content: center;
      align-items: center;
   }

   .inputs input {
      flex-grow: 1;
      font-size: 16px;
      padding: 2dvh 0dvw 2dvh 1dvw;
   }

   .inputs>button {
      font-size: 24px;
      font-weight: 600;
      padding: 1.6vh 2dvw;
   }

   .Red-Line {
      height: 4px;
      border-radius: 30%;
   }

   .MovieSection {
      width: 80dvw;
      height: fit-content;
      gap: 4dvh;
      padding-top: 6dvh;
   }

   .MovieSection .glow {
      width: 60dvw;
      height: 80px;
      top: -6dvh;
   }

   .MovieSection .Heading {
      font-size: 24px;
      font-weight: 700;
   }

   .MovieSection .Movies {
      width: 90dvw;
      gap: 2dvw;
      padding-bottom: 4dvh;
   }

   .MovieSection .Movies .Images img {
      height: 196px;
      width: 140px;
   }

   .MovieSection .Movies .Images span {
      font-size: 80px;
      font-weight: 800;
      margin-right: -25px;
      margin-bottom: -10px;
   }

   .ReasonSection {
      width: 80dvw;
      height: fit-content;
      display: flex;
      padding-top: 4dvh;
      gap: 2dvh;
      padding-bottom: 4dvh;
   }

   .ReasonSection>.Heading {
      font-size: 24px;
      font-weight: 700;
   }

   .ReasonSection .Reasons {
      width: 90dvw;
      height: fit-content;
      gap: .5dvw;
   }

   .ReasonSection .Reasons .textBox {
      height: 30dvh;
      width: 18dvw;
      padding: 3dvh 2dvw;
   }

   .ReasonSection .Reasons .textBox .Text {
      width: 100%;
      gap: 1.5dvh;
   }

   .ReasonSection .Reasons .textBox .Text .heading {
      font-size: 20px;
      font-weight: 700;
   }

   .ReasonSection .Reasons .textBox .Text .subText {
      font-size: 16px;
      opacity: 0.6;
   }

   .ReasonSection .Reasons .textBox img {
      width: 30%;
      right: 0;
   }

   .FQAs {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 4dvh;
   }

   .FQAs .Heading {
      font-size: 24px;
      font-weight: 700;
   }

   .FQAs .Question .Questions {
      width: 100%;
      font-size: 24px;
      font-weight: 500;
      padding: 3dvh 2dvw;
   }

   .subEmail {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 6dvh;
      padding-bottom: 4dvh;
   }

   .subEmail span {
      font-size: 16;
      font-weight: 500;
   }

   .subEmail .inputs {
      gap: 1dvw;
   }

   .subEmail .inputs input {
      width: 65%;
      flex-grow: 0;
   }
}

@media (min-width: 1601px) {
   .home {
      height: 85dvh;
      width: 100dvw;
   }

   .home .box {
      height: 85dvh;
      width: 100dvw;
   }

   .home .nav {
      width: 85dvw;
   }

   .home .nav>img {
      width: 8dvw;
   }

   .home .nav .CTA {
      gap: .8dvw;
   }

   .nav .CTA .language {
      padding: .6dvh .7dvw;
      gap: .5dvw;
   }

   .nav .CTA .language select {
      all: unset;
   }

   .nav .CTA a {
      padding: .6dvh 1dvw;
      border-radius: 5px;
      font-weight: 500;
   }

   .home .content {
      width: 60dvw;
      color: var(--white-color);
      gap: 2dvh;
   }

   .home .content>span:nth-child(1) {
      width: 60%;
      font-size: 56px;
      font-weight: 800;
   }

   .home .content>span:nth-child(2) {
      width: 90%;
      font-size: 20px;
   }

   .home .content>span:nth-child(3) {
      width: 70%;
      font-size: 16px;
   }

   .inputs {
      width: 60%;
      gap: .5dvw;
      justify-content: center;
      align-items: center;
   }

   .inputs input {
      flex-grow: 1;
      font-size: 16px;
      padding: 2dvh 0dvw 2dvh 1dvw;
   }

   .inputs>button {
      font-size: 24px;
      font-weight: 600;
      padding: 1.6vh 2dvw;
   }

   .Red-Line {
      height: 5px;
      border-radius: 40%;
   }

   .MovieSection {
      width: 80dvw;
      height: 45dvh;
      gap: 4dvh;
      padding-top: 6dvh;
   }

   .MovieSection .glow {
      width: 40dvw;
      height: 80px;
      top: -6dvh;
   }

   .MovieSection .Heading {
      font-size: 24px;
      font-weight: 700;
   }

   .MovieSection .Movies {
      width: 90dvw;
      gap: 2dvw;
      padding-bottom: 4dvh;
   }

   .MovieSection .Movies .Images img {
      height: 252px;
      width: 180px;
   }

   .MovieSection .Movies .Images span {
      font-size: 80px;
      font-weight: 800;
      margin-right: -25px;
      margin-bottom: -10px;
   }

   .ReasonSection {
      width: 80dvw;
      height: fit-content;
      display: flex;
      padding-top: 4dvh;
      gap: 2dvh;
      padding-bottom: 4dvh;
   }

   .ReasonSection>.Heading {
      font-size: 24px;
      font-weight: 700;
   }

   .ReasonSection .Reasons {
      width: 90dvw;
      height: fit-content;
      gap: .3dvw;
   }

   .ReasonSection .Reasons .textBox {
      height: 26dvh;
      width: 18.5dvw;
      padding: 2dvh 1.5dvw;
   }

   .ReasonSection .Reasons .textBox .Text {
      width: 100%;
      gap: 1.5dvh;
   }

   .ReasonSection .Reasons .textBox .Text .heading {
      font-size: 24px;
      font-weight: 700;
   }

   .ReasonSection .Reasons .textBox .Text .subText {
      font-size: 16px;
      opacity: 0.6;
   }

   .ReasonSection .Reasons .textBox img {
      width: 30%;
      right: 0;
   }

   .FQAs {
      width: 80dvw;
      gap: 4dvh;
      padding-top: 4dvh;
   }

   .FQAs .Heading {
      font-size: 24px;
      font-weight: 700;
   }

   .FQAs .Question .Questions {
      width: 100%;
      font-size: 24px;
      font-weight: 500;
      padding: 2.5dvh 2dvw;
   }

   .subEmail {
      width: 90dvw;
      gap: 2dvh;
      padding-top: 6dvh;
      padding-bottom: 4dvh;
   }

   .subEmail span {
      font-size: 16;
      font-weight: 500;
   }

   .subEmail .inputs {
      gap: 1dvw;
   }

   .subEmail .inputs input {
      width: 65%;
      flex-grow: 0;
   }
}